<div class="">


    <div class="table-responsive">
      <table class="table table-bordered">

        <tbody>
        <tr>

          <td>
            Ing. José Manuel Arana Escobar
          </td>
          <td>
            CEO
          </td>

        </tr>
        <tr>

          <td>
            Ing. Mario Guzmán Guzmán
          </td>
          <td>
            CFO
          </td>

        </tr>
        <tr>
          <td>
            Ing. Pablo A. Sillas Domínguez
          </td>
          <td>
            Chief HR Officer
          </td>

        </tr>
        <tr>
          <td>
            Dr. Paolo Bortolana
          </td>
          <td>
            Ceramic Tiles Director
          </td>

        </tr>
        <tr>
          <td>
            Ing. Ricardo Sandoval Garza
          </td>
          <td>
            Housewares Director
          </td>

        </tr>
        <tr>
          <td>
            Ing. César Enrique Cárdenas Rodríguez
          </td>
          <td>
            Water Heaters Director
          </td>

        </tr>
        <tr>
          <td>
            Lic. José Manuel Garza Martínez
          </td>
          <td>
            Auto Parts Director
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <h3>José Manuel Arana Escobar</h3>
    <p>José Manuel Arana Escobar CEO since April 1st, 2014. He is an Agricultural Zootechnician Engineer from ITESM. Mr. Arana boasts wide international experience, having worked for ten years in the United States and for thirteen years in Brazil. Mr. Arana worked for 25 years at The Dow Chemical Company. Over his many years of experience he has worked on the Board of Directors of several agrochemical and biotechnological institutions. Before joining GIS, he performed as the Chairman and CEO of Tyson, Mexico.</p>

    <h3>Ing. Mario Guzmán Guzmán</h3>
    <p>Engineer Mario Guzman Guzman joined in on November 18th 2014. He has a wide experience regarding financial, administrative and strategic planning areas, which he obtained thanks to 30 years of work with Vitro and Alfa. </p>

    <h3>Pablo Sillas Domínguez</h3>
    <p>Pablo A. Sillas Dominguez has been our Chief Human Resources Officer since April 2010. Before joining GIS, he worked as Human Resources Director at Johnson &amp; Johnson Medical Devices, Mexico. Pablo is an Industrial and Systems Engineer from ITESM, and holds a Master in Administration from the same institution. Mr. Sillas possesses a diploma in Top Management, D1 from IPADE, and has participated in Executive Development Programs at Stanford, Wharton, Carnegie Mellon and Thunderbird.</p>

    <h3>Dr. Paolo Bortolan</h3>
    <p>Dr. Paolo Bortolan is Italian and lives in Mexico since 2006. Before that he was already the CEO of Osram for Mexico and Central America.  While working there he managed to double the sales in the country, thus positioning the operation in Mexico as one of the most profitable in the world.  Before being assigned to Mexico, he reached important work goals in Germany, Switzerland and Italy.</p>

    <h3>Ricardo Sandoval Garza</h3>
    <p>Ricardo Sandoval Garza, has been the Housewares Director since April 2011, formerly working as Commercial Director in the same division, position that he had held since 2001. Mr. Sandoval joined GIS in 1990, working in the Housewares division and holding, among others, the positions of Kitchenware Business Director, Operations Manager, Plant Manager and Logistics and Programming Manager, etc. He is an Industrial Production Engineer from Instituto Tecnólogico de Saltillo and possesses a Master in Administration from UANL. He is also certified in Top Management, D2 from IPADE.</p>

    <h3>César Enrique Cárdenas Rodríguez </h3>
    <p>César Enrique Cárdenas Rodríguez has been the Water Heaters Director since July 2013. Formerly, he worked as General Manager at EB Técnica Mexicana (ELKAY), and as Operations Director at Grupo Alianza-Valores 3C, position which he held for 5 years. Mr. Cardenas has wide experience in the water heaters and ceramic tiles industries. Between 1995 and 2008, he worked as Commercial Director at Vitromex and as Water Heaters Director at Grupo Industrial Saltillo. Graduated as an Industrial and Systems Engineer from ITESM, and holds the Top Management, AD2 from IPADE.</p>

    <h3>José Manuel Garza Martínez</h3>
    <p>José Manuel Garza Martínez has been Auto Part’s Director since 2013. Mr. Garza has a long history in management roles both at GIS, and with other companies. He performed as Commercial Director and Auto Part’s Plant Director, from 1988 to 1992, Foundry General Manager at GIS, from 1992 to 1997, Housewares General Manager at GIS, from 1997 to 1998, and Auto Part’s Director, from 1998 to 2004. Beside GIS, he worked on different projects, and in 2005 was contracted by Xignux as Director of Tisamatic, a company acquired by GIS in 2011. José Manuel is graduated from Business Administration at ITESM, and holds a Master in Administration, from the same institution.</p>







</div>