<div class="estragia">

    <p>Through a solid operating and financial structure, and by leading projects focused on efficiency and improvement of our productive processes, we seek to strengthen our business portfolio, within a framework of quality and environmental commitment.</p>

    <p>The execution of our strategies for profitable growth aims to create sustainable value for our shareholders, customers, employees, and the communities in which we are located.</p>
    <strong><a target="_blank" href="http://cdn.investorcloud.net/GIS/Nosotros/CartaAccionistas.pdf"> Read our CEO’s message. </a></strong>

    <h3>Strengths and Innovation</h3>
    <p>By the improvement of our existing products and the innovation, we are able to distinguish our brands, in order to maintain and increase our market share.</p>

    <h3>Investment rational</h3>
    <p>Our investments, CAPEX, are focused on a greater and more efficient production, allowing us to strengthen our competitive position, focusing on the business units in which GIS is more profitable. In 2011 we acquired the foundry business Tisamatic, expanding our production capacity of gray iron casting for high precision pieces for the automotive, industrial and home appliances segments. In order to concentrate our efforts in NAFTA auto parts industry, in 2012 we divested our subsidiaries Technocast and Cifunsa Diesel, engaged on the blocks and heads foundry business. In order to increase our auto parts business foundry capacity, GIS invested US $ 65mills. to expand Tisamatic plant in San Luis Potosi, which double its capacity going from 60k metric tons per year to 120k metric tons per year, reaching a total foundry capacity of 240k metric tons per year.</p>

    <h3>Strategic alliances</h3>
    <p>The JV with Kelsey Hayes Company, subsidiary of TRW Automotive Holdings (leader in the car parts industry), allows GIS to acquire a strategic partner in order to expand our presence in North American market. This alliance will represent a new foundry plant with 52,000 metric tons/year, which start of operations planned on 3Q15, reaching over of 290,000 metric tons of total installed capacity. We s.ld highlight TRW will bring to the JV the valuable know-how in precision machining processes (the JV embraces an annual production of around 5 million machined pieces).</p>

    <h3>Market Penetration </h3>

    <p>To maintain our strong market position and our costumer relations, GIS has taken proactive measures such as strengthening its points-of-sale and enlarging our product catalog. GIS has invested in remodeling and modernization of 46% of its points-of-sale on construction segment, and the housewares sector catalog channel grew 41%. GIS seeks to expand its markets throughout North and Latin America. GIS has distribution centers near our costumer’s facilities located in Laredo, Texas, and Pomona, California.</p>

    <h3>Sustainable Growth</h3>

    <p>Through the conscience, best practice integration and evaluation of control systems, we aim for sustainable development:
    </p><ul>
    <li>Certifications and investments: We look for our production plants to have the Clean Industry Certificate and ISO-14001 certification, and make to investments that allow us to control the emissions of pollutants agents (such as the dust collection systems newly installed in our plant in Saltillo).
    </li>
    <li>Responsible use: we strive to generate savings in electricity consumption, by applying strategies designed by technical committees in our plants. </li>
    <li>Environmental management: GIS implemented an administration methodology based on processes, integrating all environmental management systems.</li>
  </ul>
    <p></p>

    <h3>Operational strength</h3>
    <p>In order to maximize the profit margins for our shareholders, we execute the following business strategies:
    </p><ul>
    <li>Rearrange of business portfolio for the auto parts sector; to grow profitably in the iron foundry business focused on the service of auto parts, heavy trucks, domestic appliances and railroads industries, in North America</li>
    <li>Expansion of our installed capacity within world-class operating standards </li>
    <li>Upgrading our technology platform to offer an accurate service</li>
    <li>Application of the Inclusive Continuous Improvement Program to develop our business lines under a “lean” business model based on the development of self-directed human resources and focused on sustained improving operations, processes, and products and services design</li>
  </ul>
    <p></p>

    <h3>Financial discipline</h3>

    <p>GIS had a cash balance at the end of 2013 above the Ps.1,900 mills., as well as a strong ability to generate cash flows from the operation, EBITDA, for Ps.950 mills., and net income of PS.329 mills., despite the tough economic environment in Mexico.</p>

    <p>At the end of 2013 GIS recorded an annual basis debt ratio, LT Debt / EBITDA, of only 0.36x, and has open credit lines (lines for letters of credit and short term bank loans emissions) in the order of US$47.5 mills.
    </p>





</div>
