<div class="gis-numeros">


    <h5>To present further detail about GIS and its operations, we display some highlights of the results registered in 2014. </h5><br>
    <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>Consolidated revenues</h4>
        <p>PS. 9,712.2 MILLS.</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Revenues from exports</h4>
        <p>PS. 4,737.08 MILLS.</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Net Income</h4>
        <p>PS. 424.48 MILLS.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>EBITDA</h4>
        <p>PS. 1,058.26 MILLS.</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>CAPEX</h4>
        <p>PS. 382.88 MILLS.</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Shareholders’ Equity</h4>
        <p>PS. 9,088.36 MILLS.</p>
      </div>
    </div>
    <br>
    <h5>Projects</h5>
    <p>Conclusion of the auto parts plant expansion in San Luis Potosi, achieving a total installed capacity of 240 thousand metric tons per year.</p>
    <h5>Our Team</h5>
    <p>By the end of 2014, we had added the talent of 6,293 employees.</p>
    <h5>Plants</h5>
    <p>We currently operate within 13 plants (3 in the auto part division, 5 for ceramic tiles, 4 in the housewares division and 1 in water heaters) located in: Saltillo, Coah., Irapuato, Gto., San Luis Potosi, S.L.P., Chihuahua, Chih., and San Jose Iturbide, Gto.</p>


</div>
