<div class="historia">

  <ul class="timeline level-0">


    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2015</h4>
        </div>
        <div class="timeline-body">
          <p>
            Autoparts agrees JV with Fagor Ederlan for the manufacturing of foundry parts.  GIS Decalogue launching; strengthening the strategy of the Group in preparation for 2025.
          </p>
        </div>
      </div>
    </li>


    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2011 - 2014</h4>
        </div>
        <div class="timeline-body">
          <p>Consolidation and expansion of strategic operations with financial strength; acquisition of Tisamatic. The JV with TRW for new foundry operations is announced.
            <br/>
            Fluida acquires Funcosa assets.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2001 - 2010</h4>
        </div>
        <div class="timeline-body">
          <p>Calorex acquisition and HESA’s brand rights. In JV with Caterpillar, production of blocks and heads for diesel motors.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1991 - 2000</h4>
        </div>
        <div class="timeline-body">
          <p>Santa Anita and Enasa starts production of ceramic pottery, cookware and steel pots and pans.<br> Start of operations of the Vitromex plant in San Jose Iturbide.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1981 - 1990</h4>
        </div>
        <div class="timeline-body">
          <p>Moto Islo redirects efforts to produce washing machine transmissions.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1971 - 1980</h4>
        </div>
        <div class="timeline-body">
          <p>Islo Honda start of operations. Melcinsa set up for the production of pottery. GISSA’s IPO. Cifunsa 3 begins production of grey iron blocks and heads.</p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1961 - 1970</h4>
        </div>
        <div class="timeline-body">
          <p>Start of operations of Vitromex Ceramic tiles plant to produce coverings and bathroom fixtures.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge ">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1951 - 1960</h4>
        </div>
        <div class="timeline-body">
          <p>Motocicletas Islo begins operations, and Cinsa Calentadores is founded.</p>

        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1941 - 1950</h4>
        </div>
        <div class="timeline-body">
          <p>Brochas y Cepillos Exito was founded, followed by Molinos del Fénix for flour production.</p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1931 - 1940</h4>
        </div>
        <div class="timeline-body">
          <p>Cinsa is founded to produce enamel and steel products for kitchenware.</p>

        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1920 - 1930</h4>
        </div>
        <div class="timeline-body">
          <p>“El Aluminio” is founded to produce plumbing hardware products such as tubes, connections, bathtubs, and other bathroom supplies.</p>
        </div>
      </div>
    </li>
  </ul>

</div>