<div id="perfil">


  <img class="img-thumbnail" alt="..." src="http://cdn.investorcloud.net/GIS/site/img/contenidos/perfil-848.jpg">

  <div class="space10"></div>
  <p>Grupo Industrial Saltillo “GIS” is a leading Mexican industrial conglomerate, founded in 1928, it has been listed
    on the Mexican Stock Exchange
    (BMV) since 1976, under the ticker symbol “GISSA”. GIS manufactures and commercializes products for the sectors
    of:</p>

  <ul>
    <li>Auto parts, Grey and ductile iron castings for motor, brake and transmission systems, parts and components for
      home appliances, agricultural and railroad sectors.
    </li>
    <li>Construction, Flooring in ceramic and porcelain, water heaters and pipe fittings in plastic and iron.</li>
    <li>Housewares, A wide range of kitchenware, tableware and countertop kitchen appliances.</li>
  </ul>
  <p>GIS plants’ operations are committed to quality, environmental preservation and continuous improvement framework.
    Awards and certifications testify our quality and productivity.</p>


</div>