<div id="fundamentales">


    <h3>Resultados</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Millones de pesos</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Ventas consolidadas</td>
          <td>9,712</td>
          <td>8,845</td>
          <td>9,022</td>

        </tr>
        <tr>
          <td>UAFIRDA</td>
          <td>1,058</td>
          <td>950</td>
          <td>1,128</td>

        </tr>
        <tr>
          <td>Resultado de operación (UAFIR)</td>
          <td>648</td>
          <td>590</td>
          <td>760</td>

        </tr>
        <tr>
          <td>Utilidad neta </td>
          <td>425</td>
          <td>329</td>
          <td>3,269</td>

        </tr>

        </tbody>
      </table>
    </div>

    <h3>Situación Financiera</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Millones de pesos</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Activo total</td>
          <td>12,916</td>
          <td>11,855</td>
          <td>11,419</td>

        </tr>
        <tr>
          <td>Efectivo y equivalentes</td>
          <td>2,053</td>
          <td>1,911</td>
          <td>2,463</td>

        </tr>
        <tr>
          <td>Deuda bancaria</td>
          <td>389</td>
          <td>387</td>
          <td>0</td>

        </tr>
        <tr>
          <td>Pasivo total</td>
          <td>3,791</td>
          <td>3,433</td>
          <td>2,728</td>

        </tr>
        <tr><td>Capital contable consolidado</td>
          <td>9,124</td>
          <td>8,422</td>
          <td>8,692</td>

        </tr>
        <tr><td>Valor contable por acción*</td>
          <td>25.62</td>
          <td>23.65</td>
          <td>24.31</td>

        </tr>

        </tbody>
      </table>
    </div>
    <p>*Asumimos un número total de 356,051,240 acciones</p>



    <h3>Razones financieras</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Millones de pesos</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>

        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Margen de Operación</td>
          <td>6.67%</td><!-- 648/9712 Resultado de operación / ventas consolidadas-->
          <td>6.67%</td>
          <td>8.43%</td>

        </tr>
        <tr>
          <td>Resultado Neto Mayoritario a Ventas</td>
          <td>4.37%</td> <!-- 424/9712 utilidad neta /ventas consolidadas -->
          <td>3.72%</td>
          <td>36.22%</td>

        </tr>
        <tr>
          <td>Resultado Neto Mayoritario a Capital Mayoritario</td>
          <td>4.67 %</td>
          <td>3.92%</td>
          <td>37.75%</td>

        </tr>
        <tr>
          <td>Ventas Netas a Activo Total </td>
          <td>0.75</td> <!--  Ventas consolidadas/ activo total 9,712/12,915.60 -->
          <td>0.76</td>
          <td>0.74</td>

        </tr>
        <tr>
          <td>Rotación de Cuentas por Cobrar</td>
          <td>4.90</td>
          <td>4.51</td>
          <td>4.01</td>

        </tr>
        <tr>
          <td>Rotación de Cuentas por Pagar</td>
          <td>4.00</td>
          <td>4.12</td>
          <td>3.64</td>

        </tr>
        <tr>
          <td>Rotación de Inventarios </td>
          <td>5.70</td>
          <td>5.71</td>
          <td>5.61</td>

        </tr>
        <tr>
          <td>Pasivo Total a Capital Contable </td>
          <td>0.42</td>
          <td>0.41</td>
          <td>0.31</td>

        </tr>
        <tr>
          <td>Razón Circulante </td>
          <td>2.62</td>
          <td>2.99</td>
          <td>3.54</td>

        </tr>
        <tr>
          <td>Deuda a UAFIRDA (1)</td>
          <td>1.60</td>
          <td>1.57</td>
          <td>2.26</td>

        </tr>

        </tbody>
      </table>
    </div>
    <p>(1) Deuda a UAFIRDA: Deuda bancaria total / UAFIRDA del año
    </p>




</div>
