<div id="preguntas-frecuentes">

    <h5>¿Quién es GIS?</h5>
    <p>Grupo Industrial Saltillo “GIS” es un grupo industrial mexicano líder, fundado en 1928, que cotiza en el mercado de valores (BMV), desde 1976, con la clave “GISSA”. Manufactura y comercializa productos para los sectores de:</p>
    <ul>
      <li>Autopartes, en hierro gris y nodular, para sistemas de transmisión, suspensión, motor y frenos. Así como piezas para las industrias de electrodomésticos, agrícola y ferroviaria.</li>
      <li>Construcción, que diseña, produce y comercializa pisos y recubrimientos cerámicos y porcelánicos de gran formato para uso residencial e institucional; un amplio portafolio de calentadores para agua de uso residencial y comercial, que utilizan gas, energía eléctrica o solar; y comercializa conexiones, bridas y tuberías para los segmentos industrial y construcción, tanto en acero, plástico y fierro fundido.</li>
      <li>Hogar, desarrolla, manufactura y comercializa artículos para cocina y mesa en diversos materiales, tales como: aluminio, acero porcelanizado y cerámica, además comercializa una variedad de electrodomésticos.</li>
    </ul>
    <h5>¿En qué mercados cotizan las acciones de GIS?</h5>
    <p>Las acciones de GIS cotizan en el mercado mexicano con la clave “GISSA”, existen actualmente 356,051,240 en circulación, 57% son “float”, i.e. se hallan en el poder del amplio público inversionista.</p>

    <h5>¿Qué característica tienen las acciones de GIS?</h5>
    <p>Todas las acciones de GIS son ordinarias, con plenos derechos de voto y gozan de todos los derechos patrimoniales que la Ley y los Estatutos Sociales les otorgan.</p>

    <h5>¿Cómo recibo los dividendos sobre mis acciones?</h5>
    <p>Los dividendos aprobados por la Asamblea General de Accionistas de GIS, los recibirán los tenedores de las acciones “GISSA”, a través de los sistemas de compensación del S.D. Indeval (electrónicamente). Aquellos que posean físicamente sus acciones, podrán hacer el cobro de sus dividendos en las oficinas de GIS en Saltillo Coahuila, México.</p>





</div>