<div class="">


    <div class="table-responsive">
      <table class="table table-bordered">

        <tbody>
        <tr>

          <td>
            Ing. José Manuel Arana Escobar
          </td>
          <td>
            Director General
          </td>

        </tr>
        <tr>

          <td>
            Ing. Mario Guzmán Guzmán
          </td>
          <td>
            Director General de Administración y Finanzas
          </td>

        </tr>
        <tr>
          <td>
            Ing. Pablo A. Sillas Domínguez
          </td>
          <td>
            Director General de Recursos Humanos
          </td>

        </tr>
        <tr>
          <td>
            Dr. Paolo Bortolana
          </td>
          <td>
            Director General Recubrimientos
          </td>

        </tr>
        <tr>
          <td>
            Ing. Ricardo Sandoval Garza
          </td>
          <td>
            Director General Hogar
          </td>

        </tr>
        <tr>
          <td>
            Ing. César Enrique Cárdenas Rodríguez
          </td>
          <td>
            Director General Calentadores
          </td>

        </tr>
        <tr>
          <td>
            Lic. José Manuel Garza Martínez
          </td>
          <td>
            Director General de Autopartes
          </td>
        </tr>

        </tbody>
      </table>
    </div>

    <h3>Ing. José Manuel Arana Escobar</h3>
    <p>Ing. José Manuel Arana Escobar, Director General a partir del 1° de abril del 2014. Ingeniero Agrónomo Zootecnista por el ITESM. El Ing. Arana cuenta con amplia experiencia internacional, habiendo trabajado por diez años en Estados Unidos y por trece años en Brasil. El Sr. Arana se desempeñó profesionalmente durante 25 años en The Dow Chemical Company. Durante  su carrera ha participado en Consejos de Administración de diversas instituciones de agroquímicos, semillas y biotecnología. Previo a su incorporación a GIS, ocupó el cargo de Presidente y Director General de Tyson de México.</p>

    <h3>Ing. Mario Guzmán Guzmán</h3>
    <p>El Ing. Mario Guzmán Guzmán se incorporó a partir del 18 de noviembre de 2014.  Cuenta con una amplia experiencia en las áreas financieras, administrativas y planeación estratégica, obtenida a través de más de 30 años laborando para Vitro y anteriormente para Alfa.
    </p>

    <h3>Ing. Pablo A. Sillas Domínguez</h3>
    <p>Ing. Pablo Adrián Sillas Domínguez, Director General de Recursos Humanos desde abril de 2010. Anterior a su cargo en GIS, se desempeñó como Director de Recursos Humanos de Johnson &amp; Johnson Medical Devices México. Ingeniero Industrial y en Sistemas por el Instituto Tecnológico y de Estudios Superiores de Monterrey, con Maestría en Administración por la misma institución. Cuenta con un diplomado en Alta Dirección, D1, del IPADE, y con estudios en Programa de Educación Ejecutiva en las Universidades de Stanford, Wharton, Carnegie Mellon, y Thunderbird.</p>

    <h3>Dr. Paolo Bortolana</h3>
    <p>El Dr. Paolo Bortolan es de nacionalidad italiana y residente en México desde 2006, venía desempeñándose como Director General de Osram para México y Centro América. En esta empresa logró duplicar las ventas en el país, posicionando la operación en México como una de las más redituables a nivel mundial. Previo a su asignación en México, tuvo importantes logros en experiencias laborales en Alemania, Suiza e Italia</p>

    <h3>Ing. Ricardo Sandoval Garza</h3>
    <p>Ing. Ricardo Sandoval Garza, Director General Hogar desde abril de 2011,  anteriormente ocupaba el puesto de Director Comercial dentro de la misma división de negocios (Hogar), cargo que desempeñó desde 2001. El Ing. Sandoval ingresó a GIS en 1990, trabajando para el negocio Hogar, ocupando, entre otras posiciones las de Director Negocio Cocina, Gerente Operaciones, Gerente de Planta, Gerente de Programación y Logística, etc. Ingeniero Industrial en Producción por el Instituto Tecnológico de Saltillo, con Maestría en Administración por la UANL y diplomado en Alta Dirección, D2, por el IPADE.</p>

    <h3>Ing. César Enrique Cárdenas Rodríguez</h3>
    <p>Ing. César Enrique Cárdenas Rodríguez, Director General de Calentadores desde julio de 2013. Anteriormente, fungió como Director General de EB Técnica Mexicana (ELKAY) y como Director de Operaciones de Grupo Alianza&ndash;Valores 3C, cargo que desempeñó por 5 años. El Ing. Cárdenas tiene un amplio conocimiento de las industrias de calentadores y recubrimientos. Entre 1995 y 2008, se desempeñó como Director Comercial de Vitromex y Director General del Negocio de Calentadores en Grupo Industrial Saltillo. Tiene 47 años de edad y posee el título de Ingeniero Industrial y de Sistemas por el ITESM, y cuenta con estudios en Alta Dirección de Empresa, AD2, por el IPADE.

    </p><h3>Lic. José Manuel Garza Martínez</h3>
    <p>Lic. José Manuel Garza Martínez, Director General Cifunsa, a partir de 2013. El Lic. Garza tiene una amplia trayectoria en puestos directivos en GIS y en otras compañías. Se ha desempeñado como Director Comercial y Director de Planta Cifunsa, de 1988 a 1992, Director del Negocio de Fundición de GIS, de 1992 a 1997, Director de la División GIS Hogar, de 1997 a 1998, Director Cifunsa, de 1998 a 2004. Fuera de GIS, hizo proyectos a manera independiente y en 2005 fue contratado por Grupo Xignux como Director del Negocio Tisamatic, empresa adquirida por GIS en 2011. Licenciado en Administración de Empresas por el ITESM, con Maestría en Administración por la misma institución.</p>


</div>