<div class="estragia">

    <p>A través de una sólida estructura operativa y financiera, y mediante la realización de proyectos orientados a generar mayor escala y eficiencia en nuestros procesos productivos, buscamos fortalecer nuestro portafolio de negocios, circunscritos a un marco de calidad y compromiso con el cuidado del ambiente. </p>

    <p>La ejecución de nuestras estrategias orientadas a un crecimiento rentable persigue la creación de valor sustentable para nuestros accionistas, clientes, empleados, y para las comunidades en que nos desarrollamos.</p>
    <strong><a target="_blank" href="http://cdn.investorcloud.net/GIS/Nosotros/CartaAccionistas.pdf"> Conoce el mensaje del Director General</a></strong>
    <h3>Diferenciación e innovación</h3>
    <p>Mediante el perfeccionamiento de nuestros productos existentes y la innovación de nuevos productos que nos permitan tener una diferenciación en nuestras marcas, buscamos mantener y aumentar nuestra participación de mercado.</p>

    <h3>Inversión con sentido </h3>
    <p>Nuestras inversiones, CAPEX, están orientadas a una mayor y más eficiente producción, que permita robustecer nuestra posición competitiva, enfocándonos en las unidades de negocio en las que GIS es más rentable. En 2011 adquirimos el negocio de fundición Tisamatic, expandiendo nuestra capacidad de producción de piezas fundidas de hierro gris de alta precisión para la industria automotriz y el sector de electrodomésticos. Con el objetivo de enfocar nuestros esfuerzos en la industria regional de Autopartes, en 2012 nos desinvertimos de nuestras subsidiarias Technocast y Cifunsa Diesel, dedicadas a la manufactura y comercialización de blocks y cabezas automotrices.
      En pro de aumentar la capacidad de producción de nuestro negocio de Fundición de autopartes, invertimos US$65 mills. para la expansión de la planta Tisamatic de San Luis Potosí, que duplicó su capacidad de 60k tons/año a 120k tons./año, elevando la capacidad combinada de nuestras plantas de fundición a 240k tons./año.</p>
    <h3>Alianzas estratégicas</h3>
    <p>Con el JV con Kelsey Hayes Company, subsidiaria de TRW Automotive Holdings (empresa líder en producción de autopartes), GIS adquiere un socio clave en pro de expandir el posicionamiento de su negocio de autopartes en el mercado de América del Norte; ya que, hacia el 3T15 alcanzaría una producción incremental de 52,000 tons./año, superando con ello las 290,000 tons. en capacidad total, además de tener la oportunidad de adquirir valioso <i>know-how</i> en procesos de maquinado de precisión (el JV comprende una producción anual de cerca de 5 millones de piezas maquinadas).</p>

    <h3>Penetración de mercados</h3>
    <p>Para mantener sólida nuestra posición de mercado y la relación con nuestros clientes, hemos emprendido medidas proactivas como el fortalecimiento de nuestros puntos de venta y el robustecimiento de nuestro catálogo de productos, hemos invertido en la actualización y remodelación del 46% de los puntos de venta del sector construcción, y el canal de catálogo del sector hogar creció 41%. Buscamos la expansión de nuestros mercados a lo largo de Norteamérica y Latinoamérica, contamos con centros de distribución en Estados Unidos, fuera de las plantas de nuestros clientes, en Laredo, Texas, y Pomona, California.</p>
    <h3>Desarrollo Sostenible</h3>
    <p>Mediante la concientización, integración de prácticas y la evaluación de sistemas de control, nos orientamos a un desarrollo sostenible:</p>
    <ul>
      <li>Certificaciones e inversiones: Nos esforzamos para que nuestras plantas productivas cuenten con el Certificado de Industria Limpia y la certificación ISO-14001, y realizamos inversiones para controlar la producción de emisiones y agentes contaminantes (como los sistemas de colección de polvos recién instalados en nuestra planta de Saltillo)
      </li>
      <li>Uso responsable: nos esforzamos en generar ahorros en los consumos de energía eléctrica, mediante la aplicación de programas diseñados por comités técnicos en nuestras plantas
      </li>
      <li>Gestión Ambiental: implementamos una metodología de administración basada en procesos, integrando todos los sistemas de gestión ambiental</li>
    </ul>
    <h3>Fortaleza operativa</h3>
    <p>Buscamos constantemente maximizar el valor de nuestros accionistas, para lo cual ejecutamos las siguientes estrategias:</p>
    <ul>
      <li>Reconfiguración del portafolio de negocios del sector autopartes; para crecer rentablemente en el negocio de fundición de hierro orientado al servicio de las industrias de autopartes, camiones pesados, electrodomésticos y ferroviarias en Norteamérica</li>
      <li>Expansión de nuestra capacidad productiva instalada; dentro de estándares operativos de clase mundial</li>
      <li>Actualización de nuestra plataforma tecnológica para ofrecimiento de un servicio óptimo </li>
      <li>Implementación del Programa Integral de Mejora Continua para desarrollar nuestras líneas de negocios bajo un modelo de empresa “esbelta”; basado en el desarrollo de recursos humanos auto-dirigidos y enfocados a la mejora sostenida de operaciones, procesos, diseño de productos y servicios</li>
    </ul>

    <h3>Disciplina financiera</h3>
    <p>Mantuvimos niveles de caja al cierre de 2013, por encima de los Ps.1,900 mills., así como una fuerte capacidad de generación de flujos de efectivo de la operación, UAFIRDA “EBITDA”, por Ps.950 mills., y utilidades en el orden de los Ps.329 mills., a pesar del complejo entorno de la economía en México.</p>
    <p>Al cierre de 2013 registramos una razón de endeudamiento en base anual, Deuda L.P./UAFIRDA, de apenas 0.36x, y contamos con líneas abiertas de crédito (líneas para la emisión de cartas de crédito y préstamos bancarios de C.P), en el orden de los US$47.5 mills.</p>


</div>
