<div class="gis-numeros">
   <h6>Para tener más detalle de GIS y su operación, presentamos algunos de los resultados registrados en 2014.</h6><br>
    <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>VENTAS CONSOLIDADAS</h4>
        <p>PS. 9,712.2 MILLONES</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>VENTAS EXPORTACIÓN</h4>
        <p>PS. 4,737.08 MILLONES</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>UTILIDAD NETA</h4>
        <p>PS. 424.48 MILLONES</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>UAFIRDA</h4>
        <p>PS. 1,058.26 MILLONES</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>INVERSIÓN</h4>
        <p>PS. 382.88 MILLONES</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>CAPITAL CONTABLE</h4>
        <p>PS. 9,088.36 MILLONES</p>
      </div>
    </div>
    <br>
    <h5>PROYECTOS</h5>
    <p>Culminó la ampliación de la planta de Autopartes en San Luis Potosí, llegando así a una capacidad total del sector de 240 mil toneladas anuales.</p>
    <h5>EQUIPO DE TRABAJO</h5>
    <p>Al cierre de 2014 contábamos con 6,293 colaboradores.</p>
    <h5>PLANTAS</h5>
    <p>Contamos con 13 plantas (3 del segmento autopartes, 5 de recubrimientos cerámicos, 1 de calentadores y 4 del sector Hogar), ubicadas en Saltillo, Coah.,  Irapuato, Gto.,  San Luis Potosí, S.L.P., Chihuahua, Chih., y San José Iturbide, Gto.</p>

</div>
