<div class="historia">
  <ul class="timeline level-0">


    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2015</h4>
        </div>
        <div class="timeline-body">
          <p>
            Autopartes acuerda JV con Fagor Ederlan para maquinado de piezas de fundición de hierro. Lanzamiento del Decálogo GIS, reforzando la estrategia del Grupo en preparación para el 2025.


          </p>
        </div>
      </div>
    </li>


    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2011 - 2014</h4>
        </div>
        <div class="timeline-body">
          <p>
            Consolidación y expansión de operaciones estratégicas con solidez financiera;
            adquisición de Tisamatic. Se anuncia JV con TRW para establecimiento de nueva
            fundición. <br/>
            Fluida adquiere activos de Funcosa.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">2001 - 2010</h4>
        </div>
        <div class="timeline-body">
          <p>
            Adquisición de Calorex y derechos de propiedad sobre marca HESA. En JV con Caterpillar, se emprende la construcción de blocks y cabezas para motores diesel.

          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1991 - 2000</h4>
        </div>
        <div class="timeline-body">
          <p>
            Inicia operaciones Cerámica Santa Anita y Enasa para loza cerámica, baterías, ollas y sartenes de acero.<br>
            Se inaugura el Centro de Formación Técnica. <br>
            Se inaugura la planta de Vitromex en San José Iturbide.


          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1981 - 1990</h4>
        </div>
        <div class="timeline-body">
          <p>
            Moto Islo cambia de giro, y se dedica a la producción de transmisiones para lavadoras.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1971 - 1980</h4>
        </div>
        <div class="timeline-body">
          <p>
            Inicia operaciones Islo Honda, se funda Melcinsa para la producción de vajillas. Se constituye GIS y se lista en la BMV.<br>
            A través de Cifunsa 3, se incursiona en la producción de monoblocks y cabezas de hierro gris.
          </p>
        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1961 - 1970</h4>
        </div>
        <div class="timeline-body">
          <p>
            Se constituye la Sociedad de Valores de México, se inaugura la planta Cerámica Vitromex para recubrimientos y sanitarios.
          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge ">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1951 - 1960</h4>
        </div>
        <div class="timeline-body">
          <p>
            Se constituye “Financiera del Bravo” y el departamento de fundición de Cinsa pasa a ser parte de Fundidora del Norte.<br>
            Inicia operaciones Motocicletas Islo, y se establece Cinsa Calentadores.

          </p>

        </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1941 - 1950</h4>
        </div>
        <div class="timeline-body">
          <p>
            Se funda Brochas y Cepillos Éxito, y posteriormente Molinos del Fénix para la producción de harina.

          </p>
        </div>
      </div>
    </li>
    <li>
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1931 - 1940</h4>
        </div>
        <div class="timeline-body">
          <p>
            Se constituye Cinsa, y se incursiona en la manufactura de peltre y lámina de acero.
          </p>

        </div>
      </div>
    </li>
    <li class="timeline-inverted">
      <div class="timeline-badge">
        <i class="fa fa-calendar-o"></i>
      </div>
      <div class="timeline-panel">
        <div class="timeline-heading">
          <h4 class="timeline-title">1920 - 1930</h4>
        </div>
        <div class="timeline-body">
          <p>
            Se funda el “Aluminio” para producir artículos ferreteros como tubos, codos, baños y tinas.


          </p>
        </div>
      </div>
    </li>
  </ul>
</div>