<div class="auditor-externo">

    <p>The Board of directors, with the recommendation of the Audit Committee, has decided to appoint KPMG Cárdenas Dosal, S.C. (KPMG) as our external auditor, firm that has offered its auditing services to GIS for over ten years. The associate assigned to our company is the C.P.C. Rogelio Berlanga Coronado.</p>

  </div>