<div class="codigo-estatutos">

    <h3>Best corporate practices </h3>
    <p>GIS complies with the mandates of the fraction XI of the 4.033.00 disposal of the BMV Internal Bylaws regarding adherence to the Best Corporate Practices, which defines the operational grounds of all of Mexico’s publicly traded companies.</p>
    <button onclick="window.open('http://cdn.investorcloud.net/GIS/GobiernoCorporativo/Codigos/CMPC.pdf','_blank');" class="btn btn-primary btn-sm" type="button">Download document</button>

    <h3>Corporate bylaws</h3>
    <p>
      In the following document you can download our corporate bylaws.
    </p>

    <button onclick="window.open('http://cdn.investorcloud.net/GIS/GobiernoCorporativo/Codigos/estatutos-sociales.pdf','_blank');" class="btn btn-primary btn-sm" type="button">Download document</button>

  </div>