<div class="comites">

<p>GIS’s Board of directors has constituted three committees:</p>
<ul class="tablaazul">
  <li>Governance Committee</li>
  <li>Audit Committee</li>
  <li>Finance Committee</li>
</ul>
<p>These committees have been founded in order to look after the shareholders’ interest and to achieve the best practices.</p>

<h3>Governance Committee</h3>
<p>This Committee’s major responsibilities include evaluating and compensating the Top Management.</p>

<table class="table table-striped table-bordered">
  <thead>
  <tr>
    <th>
      <h5>Governance Committee</h5>
    </th>
  </tr>
  </thead>
  <tbody>

  <tr>
    <td>
      Francisco Garza Egloff* **
    </td>
  </tr>

  <tr>
    <td>
      Luis Arizpe Jiménez*
    </td>
  </tr>

  <tr>
    <td>
      Claudio X. González Laporte*
    </td>
  </tr>

  </tbody>
</table>
<p>*Independent according to the Mexican Securities Market Law<br>
  **President
</p>

<h3>Audit Committee</h3>
<p>This Committee has the role of reviewing the progress and results of the internal audit program and reviewing the verdict of the External Auditors about the consolidated Financial Statements of the Company.</p>

<table class="table table-striped table-bordered">
  <thead>
  <tr>

    <th>
      <h5>Audit Committee</h5>
    </th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>
      Luis Arizpe Jiménez* **
    </td>

  </tr>
  <tr>

    <td>
      Eugenio Clariond Reyes*
    </td>

  </tr>
  <tr>

    <td>
      Alfredo Livas Cantú*
    </td>
  </tr>

  </tbody>
</table>

<p>*Independent according to the Mexican Securities Market Law<br>
  **President
</p>
<h3>Finance Committee</h3>
<p>The Finance Committee issues recommendations to The Board of Directors over strategic investments, acquisitions and divestitures.</p>
<table class="table table-striped table-bordered">
  <thead>
  <tr>

    <th>
      <h5>Finance Committee</h5>
    </th>
  </tr>
  </thead>
  <tbody>


  <tr>
    <td>
      Fernando Chico Pardo*
    </td>
  </tr>

  <tr>
    <td>
      Alejandro Dávila López
    </td>
  </tr>

  <tr>
    <td>
      Guillermo Elizondo López
    </td>
  </tr>

  <tr>
    <td>
      Fernando López Alanís
    </td>
  </tr>

  <tr>
    <td>
      Ernesto López de Nigris
    </td>
  </tr>

  <tr>
    <td>
      Juan Carlos López Villarreal
    </td>
  </tr>

  <tr>
    <td>
      Manuel Rivera Garza*
    </td>
  </tr>


  </tbody>
</table>
<p>*Independent, as required by the Mexican Securities Market Law. </p>
<p>As well as the Governance Committee, Audit Committee and the Finance Committee, GIS runs the following Committees, constituted by Company’s executives in order to optimize the business’ performance:</p>
<ul>
  <li>Integrity Committees</li>
  <li>Risk &amp; Treasury Management Committee</li>
  <li>Supply Committee</li>
</ul>



</div>
