<div class="consejo-administracion">

<p>The Board of directors defines the business’ strategy and provides the vision, mission and goals of the
  organization. </p>

<p>
</p>

<p>The following chart shows the composition of the Board of directors, elected and approved at our Annual General
  Meeting:</p>
<table class="table table-striped table-bordered">
  <thead>
  <tr>

    <th>
      <h5>Board Member</h5>
    </th>
    <th>
      <h5>Substitute</h5>
    </th>

  </tr>
  </thead>
  <tbody>

  <tr>
    <td>
      Juan Carlos López Villarreal
    </td>
    <td>
      Magdalena Sofía López Villarreal
    </td>
  </tr>

  <tr>
    <td>
      Luis Arizpe Jiménez *
    </td>
    <td>
      Heriberto Garza Candanosa *
    </td>
  </tr>

  <tr>
    <td>
      Fernando Chico Pardo *
    </td>
    <td>
      Jorge Barrero Stahl *
    </td>
  </tr>

  <tr>
    <td>
      Eugenio Clariond Reyes *
    </td>
    <td>
      Carlos E. Argüelles González *
    </td>
  </tr>

  <tr>
    <td>
      Alejandro Dávila López
    </td>
    <td>
      Julián Dávila López
    </td>
  </tr>

  <tr>
    <td>
      Guillermo Elizondo López
    </td>
    <td>
      Roberto Cabello Elizondo
    </td>
  </tr>

  <tr>
    <td>
      Francisco Garza Egloff *
    </td>
    <td>
      César G. Cruz Ayala *
    </td>
  </tr>

  <tr>
    <td>
      Claudio X. González Laporte *
    </td>
    <td>
      Carlos E. Argüelles González *
    </td>
  </tr>

  <tr>
    <td>
      Alfredo Livas Cantú *
    </td>
    <td>
      José Manuel Canal Hernando *
    </td>
  </tr>

  <tr>
    <td>
      Fernando López Alanís
    </td>
    <td>
      Arturo López Alanís
    </td>
  </tr>

  <tr>
    <td>
      Ernesto López de Nigris
    </td>
    <td>
      Javier López de Nigris
    </td>
  </tr>

  <tr>
    <td>
      Manuel Rivera Garza *
    </td>
    <td>
      Jorge Barrero Stahl *
    </td>
  </tr>


  </tbody>
</table>
<p>*Independent, as required by the Mexican Securities Market Law.
  <br>**Chairman of the Board
</p>

<h3>Juan Carlos López Villarreal </h3>

<p>
  Chairman of the Administrative Board of Grupo Industrial Saltillo since October 23rd 2014. He is also Chairman of the Management Board of Coparmex Cohauila Sureste since March 2012; Vice-president of National Coparmex Education Committee and also Chairman of the University-Company Coahuila Sureste Connection Council.  Since July 2008, he is Chairman of Monterrey Institute of Technology's Council, Saltillo Campus.  He is also Chairman of Vive Energia's Council and Member of the Lorean Energy Group´s Administrative Board since 2012.
  <br/> <br/>  
  From 1992 to 2001 he held different positions in Grupo Industrial Saltillo until, in May 2003, he became Chairman of the Council and the General Management for five years. He was also Member of Technocast Council.  From June 2004 to July 2007 he was Chairman of the Mexican Business Council for Foreign Trade (COMCE NORESTE) and Chairman of Business Alliance for Secure Commerce's Council (BASC), Mexico.  He is member of Bank of Mexico's Regional Council since 2013.
</p>


<h3>Luis Arizpe Jiménez</h3>

<p>Vice-Chairman of the Board at Arca Continental, Chairman of the Board at Saltillo Kapital Inmobiliaria BIRARMA, Compañia Hotelera del Norte (Camino Real Saltillo), and Inversiones del Norte. Board member at Tecnológico de Monterrey, Campus Saltillo; Grupo Financiero Banorte; Chairman of Consejo Cívico y de Instituciones de Coahuila (CCIC); President of Cruz Roja Mexicana, Saltillo; President of the Comité del Diezmo de la Diócesis de Saltillo; and, Vice-President at COPARMEX Coahuila.</p>

<h3>Fernando Chico Pardo </h3>

<p>Fernando Chico Pardo Counselor of Grupo Carso, Sears, Sanborns, BBVA, Grupo Posadas, Bombardier, among others.  Member of UN's Global Compact's Council.  He has 37-years-long experience as an investor.  He is a graduate in Business Administration from Ibero-American University and MBA from Kellogg School of Management, Northwestern University in Chicago. In 1997 he founded Grupo Promecap and he is now its Chairman and CEO.  As CEO of Inbursa he created subsidiaries and led investments and acquisitions like Cigatam, Sanborns, Frisco, Nacobre, Euzkadi, Telmex, Condumex and Sears. In 2003 he acquired Grupo Aeroportuarion del Sureste’s stock control and is nowadays Chairman of the Council. </p>

<h3>Eugenio S. Clariond Reyes</h3>

<p>Chairman of the Board of Grupo Cuprum, Grupo Cleber and Camiones Sierra Norte (all private Mexican companies). Member of the Board of the public companies: Johnson Controls, Inc. Texas Industries, Inc. and Mexichem, S.A.B. de C.V</p>

<h3>Alejandro Dávila López</h3>

<p>Christus Muguerza Saltillo’s Board Member since 1996, Executive member of Cámara de la Propiedad Región Sureste since 1999 and Treasurer of this institution for a period of 2 years. Business Administration graduate, and holder of an MBA from the Instituto Panamericano de Alta Dirección de Empresas (IPADE).</p>

<h3>Guillermo Elizondo López</h3>

<p>Chairman of the Board of Quinta Real Saltillo Hotel and Chairman of Desarrollo Inmobiliario Elabe del Norte.</p>

<h3>Francisco Garza Egloff</h3>

<p>CEO at Arca Continental, S.A.B. de C.V., and member of various Boards of directors.</p>

<h3>Claudio X. González Laporte</h3>

<p>Chairman at Kimberly Clark México, S.A.B. de C.V. and member of various Boards of directors.</p>

<h3>Alfredo Livas Cantú</h3>

<p>President of the Audit Committee at GIS since March 2009, and member of its Board of directors. CFO at Grupo Femsa from 1989 to 1999. Starting in 1999, he worked as an independent consultant. He is a member of several Boards of directors, for both public and private companies, such as, FEMSA, Grupo Senda, Grupo Acosta Verde, Christus Mugureza, and a member of several Governance Committees at these and other companies. He has also helped to develop several companies in the industrial and financial sectors.</p>

<h3>Fernando López Alanís</h3>

<p>Private investor.</p>

<h3>Ernesto López de Nigris</h3>

<p>Former Co-Chairman of GIS’s Board. Current Board member of Arca Continental, Teléfonos de México and San Luis Corp., as well as Vice-President at Canacintra de Saltillo.</p>

<h3>Manuel Rivera Garza </h3>

<p>CEO and Chairman of Nemak from 1993 to 2012; he participated on the development of Nemak's business until he retired in 2012. Vice-president of Strategic Planning and other responsibilities in ALFA from 1976 to 1992. He is currently the Senior Vice-president of Business Development in Alfa.  He is industrial engineer (ITESM) and holds a master's degree in Industrial Engineering (Stanford University).  He is member of Sigma Alimentos' Administrative Board.  </p>


</div>