<div class="estructura-accionaria">

    <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>*Trust</h4>
        <p>39%</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Board members </h4>
        <p>4%</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Float</h4>
        <p>57%</p>
      </div>
    </div>
    <p>
      Total Shares= 356,051,240**<br></p>
    <p>*GISSA’s main shareholder. The Trust administrates the heritage of the five branches of Don Isidro López Zertuche. It is managed by a Technical Committee, integrated by one member from each of the five branches. </p>
    <p>**All of GIS’s shares are common stock, with full voting and economic rights stated in the Mexican Law and the Company’s Bylaws.</p>

  </div>