<div id="fundamentales">


    <h3>Income</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Ps. Mills.</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Consolidated revenues</td>
          <td>9,712</td>
          <td>8,845</td>
          <td>9,022</td>
        </tr>
        <tr>
          <td>EBITDA</td>
          <td>1,058</td>
          <td>950</td>
          <td>1,128</td>
        </tr>
        <tr>
          <td>EBIT</td>
          <td>648</td>
          <td>590</td>
          <td>760</td>
        </tr>
        <tr>
          <td>Net income</td>
          <td>425</td>
          <td>329</td>
          <td>3,269</td>
        </tr>

        </tbody>
      </table>
    </div>

    <h3>Financial position</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Ps. Mills.</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>Total assets</td>
          <td>12,916</td>
          <td>11,855</td>
          <td>11,419</td>
        </tr>
        <tr>
          <td>Cash</td>
          <td>2,053</td>
          <td>1,911</td>
          <td>2,463</td>
        </tr>
        <tr>
          <td>Long Term debt</td>
          <td>389</td>
          <td>387</td>
          <td>0</td>
        </tr>
        <tr>
          <td>Total Liabilities</td>
          <td>3,791</td>
          <td>3,433</td>
          <td>2,728</td>
        </tr>
        <tr><td>Consolidated assets</td>
          <td>9,124</td>
          <td>8,422</td>
          <td>8,692</td>
        </tr>
        <tr><td>Book value per share</td>
          <td>25.62</td>
          <td>23.65</td>
          <td>24.31</td>
        </tr>

        </tbody>
      </table>
    </div>
    <p>*We assume a total number of outstanding shares of 356,051,240</p>



    <h3>Financial ratios</h3>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <colgroup>
          <col class="col-xs-3">
          <col class="col-xs-2">
          <col class="col-xs-2">
          <col class="col-xs-2">
        </colgroup>
        <thead>
        <tr>
          <th>Ps. Mills.</th>
          <th>2014</th>
          <th>2013</th>
          <th>2012</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>EBIT margin</td>
          <td>6.67%</td>
          <td>6.67%</td>
          <td>8.43%</td>
        </tr>
        <tr>
          <td>Net Profit margin</td>
          <td>4.37%</td>
          <td>3.72%</td>
          <td>36.22%</td>
        </tr>
        <tr>
          <td>Return on equity</td>
          <td>4.67 %</td>
          <td>3.92%</td>
          <td>37.75%</td>
        </tr>
        <tr>
          <td>Net sales to equity</td>
          <td>0.75</td>
          <td>0.76</td>
          <td>0.74</td>
        </tr>
        <tr>
          <td>Accounts Receivable turnover</td>
          <td>4.90</td>
          <td>4.51</td>
          <td>4.01</td>
        </tr>
        <tr>
          <td>Accounts Payable turnover</td>
          <td>4.00</td>
          <td>4.12</td>
          <td>3.64</td>
        </tr>
        <tr>
          <td>Inventories turnover</td>
          <td>5.70</td>
          <td>5.71</td>
          <td>5.61</td>
        </tr>
        <tr>
          <td>Liabilities to Assets</td>
          <td>0.42</td>
          <td>0.41</td>
          <td>0.31</td>
        </tr>
        <tr>
          <td>Current ratio</td>
          <td>2.62</td>
          <td>2.99</td>
          <td>3.54</td>
        </tr>
        <tr>
          <td>Debt to EBITDA</td>
          <td>1.60</td>
          <td>1.57</td>
          <td>2.26</td>
        </tr>

        </tbody>
      </table>
    </div>
    <p>
    </p>




</div>
