<div id="preguntas-frecuentes">

    <h5>Who is GIS?</h5>
    <p>
      GIS is a leading Mexican Industrial Group, founded in 1928.  It has been listed on the Mexican Stock Exchange (BMV) since 1976, under the ticker symbol “GISSA”.  GIS manufactures and markets products for the sectors of:
    </p>
    <ul>
      <li>Auto parts, Grey and ductile iron for motor, brake and transmission systems, parts and components for home appliances, agricultural and railroad sectors.</li>
      <li>Construction, Flooring in ceramic and porcelain, water heaters and pipe fittings in plastic and iron. </li>
      <li>Housewares, a wide range of kitchenware, tableware and countertop kitchen appliances.</li>
    </ul>
    <h5>In what markets are GIS’s shares traded?</h5>
    <p>GIS´s shares are traded at the Mexican market under the ticker symbol “GISSA”.  There are currently 356,051,240 outstanding shares , of which 57% are “float”.</p>

    <h5>What are the main features of the GIS’s shares?</h5>
    <p>all GIS’s shares are common, with full voting and economic rights.</p>

    <h5>How can I receive dividends from GIS?</h5>
    <p>Will be distributed to the Shareholders through S.D. Indeval mechanism.</p>


  </div>