<div class="cobertura-analistas">

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><h5>Institution</h5></th>
        <th><h5>Analyst</h5></th>
        <th><h5>Email</h5></th>
        <th><h5>Telephone</h5></th>

      </tr>
      </thead>
      <tbody>

      <tr>
        <td><a href="http://www.gbm.com.mx">GBM</a></td>
        <td>José Juan Carreño Moreno</td>
        <td>jcarre_o@gbm.com.mx</td>
        <td>52 (55) 5480 5800</td>
      </tr>
      <tr>
        <td><a href="http://www.actinver.com">Actinver</a></td>
        <td>Federico Robinson Bours Carrillo</td>
        <td>frobinson@actinver.com.mx</td>
        <td>52 (55) 1103 6600</td>
      </tr>


      </tbody>
    </table>

  </div>