<div class="cotizacion-accion">

  <link href="/javascripts/amcharts/amcharts.css" media="screen" rel="stylesheet" />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><h5>Ticker</h5></th>
        <th><h5>Price</h5></th>
        <th><h5>Change</h5></th>
        <th><h5>Day range</h5></th>
        <th><h5>Volume</h5></th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>GISSSAA </td>
        <td id="table-price"></td>
        <td id="table-change"></td>
        <td id="table-range"></td>
        <td id="table-volume"></td>
      </tr>

      </tbody>
    </table>
    <small id="table-date"></small><br>
    <small>*Public information, with at least 20 minutes of delay. </small>
  </div>

  <br></br>
  <div id="chartdiv3" style="width:100%; height:400px; clear: all"></div>
  <div class="space80"></div>
  <br></br>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script src="/javascripts/amcharts/amcharts.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/serial.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/amstock.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/pie.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/themes/iredge-en.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/dashboard-en.js"></script>

</div>