<div class="dividendos">


    <p>GIS has paid dividends to its shareholders from profits generated/accumulated through its operation. The amount to be paid is approved at the Shareholders’ General Meeting.</p>
    <p>The following chart shows the most recent dividend payments:</p>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><h5>Register-date</h5></th>
        <th><h5>Payment-date</h5></th>
        <th><h5>Payment/share</h5></th>
        <th><h5>Payment</h5></th>

      </tr>
      </thead>
      <tbody>

      <tr>
        <td>Apr/2015</td>
        <td>Apr/2015</td>
        <td>1.0000</td>
        <td>Cash</td>
      </tr>


      <tr>
        <td>Dec/2013</td>
        <td>Dec/2013</td>
        <td>0.7500</td>
        <td>Cash</td>
      </tr>
      <tr>
        <td>Mar/2013</td>
        <td>Abr/2013</td>
        <td>1.0000</td>
        <td>Cash</td>
      </tr>
      <tr>
        <td>May/2012</td>
        <td>May/2012</td>
        <td>1.0000</td>
        <td>Cash</td>
      </tr>


      </tbody>
    </table>



</div>