<div class="cotizacion-accion">

  <link href="/javascripts/amcharts/amcharts.css" media="screen" rel="stylesheet" />
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><h5>Simbolo</h5></th>
        <th><h5>Precio</h5></th>
        <th><h5>Cambio</h5></th>
        <th><h5>Rango del dia</h5></th>
        <th><h5>Volumen</h5></th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>GISSSAA </td>
        <td id="table-price"></td>
        <td id="table-change"></td>
        <td id="table-range"></td>
        <td id="table-volume"></td>
      </tr>

      </tbody>
    </table>
    <small id="table-date"></small><br>
    <small>*Información con al menos de 20 minutos de retraso</small>
  </div>

  <br></br>
  <div id="chartdiv3" style="width:100%; height:400px; clear: all"></div>
  <div class="space80"></div>
  <br></br>
  <script type="text/javascript" src="/javascripts/jquery.js"></script>
  <script src="/javascripts/amcharts/amcharts.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/serial.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/amstock.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/pie.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/themes/iredge.js" type="text/javascript"></script>
  <script src="/javascripts/amcharts/dashboard.js"></script>

</div>