<div class="dividendos">

    <p>GIS tiene la política de pagar dividendos a sus accionistas por las utilidades generadas/acumuladas, el monto del dividendo a pagar es determinado por la Asamblea General de Accionistas.</p>
    <p>La siguiente tabla establece los pagos de dividendos hechos a los accionistas de GIS:</p>
    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th><h5>Fecha-Registro</h5></th>
        <th><h5>Fecha-Pago</h5></th>
        <th><h5>Pago/Acción</h5></th>
        <th><h5>Tipo-Pago</h5></th>

      </tr>
      </thead>
      <tbody>

      <tr>
        <td>Abr/2015</td>
        <td>Abr/2015</td>
        <td>1.0000</td>
        <td>Efectivo</td>
      </tr>

      <tr>
        <td>Dic/2013</td>
        <td>Dic/2013</td>
        <td>0.7500</td>
        <td>Efectivo</td>
      </tr>
      <tr>
        <td>Mar/2013</td>
        <td>Abr/2013</td>
        <td>1.0000</td>
        <td>Efectivo</td>
      </tr>
      <tr>
        <td>May/2012</td>
        <td>May/2012</td>
        <td>1.0000</td>
        <td>Efectivo</td>
      </tr>


      </tbody>
    </table>


</div>