<div class="glosario">


    <h5>“BMV”</h5>
    <p>Bolsa Mexicana de Valores</p>
    <h5>“Cersa”</h5><p> Cerámica Santa Anita, S.A. de C.V.</p>

    <h5>“Cinsa”</h5><p> Cinsa, S.A. de C.V.</p>

    <h5>“CNBV” o “Comisión”</h5>   <p> Comisión Nacional Bancaria y de Valores.</p>

    <h5>“EBITDA”</h5> <p>   Por  sus  siglas  en  inglés,  utilidad  de  operación             antes  de  intereses, impuestos, amortización y       depreciación</p>

    <h5>“Emisor”, “Emisora”,</h5><p>Grupo Industrial Saltillo, S.A.B. de C.V. o “GISSA” </p>

    <h5>“Fluida”</h5><p>Fluida, S.A. de C.V.</p>

    <h5>“GISSA”</h5><p> Grupo Industrial Saltillo, S.A.B. de C.V.</p>

    <h5>“Hierro Gris”</h5><p>   Es una aleación de hierro fundido que debido a la presencia de grafito adopta un tono “gris” al formarse. Utilizado principalmente para la fabricación de blocks y cabezas de motores a gasolina y a diesel.</p>

    <h5>“Hierro nodular”</h5><p>   Se obtiene mediante la introducción controlada de magnesio en el hierro fundido y bajas proporciones de azufre y fósforo. Utilizado principalmente para la fabricación de piezas de seguridad para la industria automotriz.</p>

    <h5>“Industria Automotriz  Cifunsa”</h5><p>Industria Automotriz Cifunsa, S.A. de C.V.</p>
    <h5> “IETU”</h5> <p>Impuesto Empresarial a Tasa Única.</p>

    <h5>“Industria Limpia”</h5> <p> Certificación que otorga la Procuraduría Federal de Protección al Ambiente a las empresas que demuestran cumplir satisfactoriamente con los requerimientos legales en la materia de medio ambiente.</p>

    <h5>“INPC”</h5><p>Índice Nacional de Precios al Consumidor.</p>

    <h5>“ISO”</h5><p>   International Standarization Organization, una   agencia internacional especializada en estandarización.</p>
    <h5>“ISR”</h5> <p>  Impuesto sobre la Renta.

  </p><h5>“LIBOR”</h5><p> London Interbank Offered Rate, tasa interbancaria referencia al mercado londinense.
  </p><h5>“Manufacturas Cifunsa”</h5> <p> Manufacturas Cifunsa, S.A. de C.V.</p>

    <h5>“NIF”</h5><p>   Normas de Información Financiera mexicanas.</p>

    <h5>“NIIF” o “IFRS”</h5><p> Normas Internacionales de Información Financiera, por  sus siglas en inglés de “International Financial Reporting standards”</p>

    <h5>“PROFEPA”</h5><p>  Procuraduría Federal de Protección al Ambiente.</p>

    <h5>“RNV”</h5><p>   Registro Nacional de Valores.</p>

    <h5>“Servicios de Producción Saltillo”</h5><p>     Servicios de Producción Saltillo, S.A. de C.V.</p>


    <h5>“Servicios Industriales Technocast”</h5><p>       Servicios Industriales Technocast, S.A. de C.V.</p>


    <h5>“TIIE”</h5><p>Significa la Tasa de Interés Interbancario de Equilibrio a plazo de 28 días determinada y publicada por el Banco de México en el Diario Oficial de la Federación.</p>

    <h5>“Tisamatic”</h5><p> Tisamatic, S. De R.L. de C.V.</p>

    <h5>“TLCAN”</h5><p>Tratado de Libre Comercio de América del Norte.</p>

    <h5>“TLCUE”</h5><p>Tratado de Libre Comercio con la Unión Europea.</p>

    <h5>“UAFIR”</h5><p>Utilidad antes de Financieros e Impuesto sobre la Renta.</p>




</div>