<div class="razones-financieras">

    <h3>GISSAA-Indicadores bursátiles</h3>
    <div class="space20"></div>
    <div class="table-responsive">
      <table class="table table-bordered table-striped">
        <tbody>
        <tr>
          <td>Acciones en circulación (mills.)</td>
          <td>356.05</td>
        </tr>
        <tr>
          <td>Mkt-Cap (Ps. mills.)</td>
          <td>9,933.83</td>
        </tr>
        <tr>
          <td>Valor de la Empresa [VE] (Ps. mills.)</td>
          <td>8,176.82</td>
        </tr>
        <tr>
          <td>Deuda bancaria LP (Ps. mills.)</td>
          <td>321.00</td>
        </tr>
        <tr>
          <td>VL (Ps.)</td>
          <td>24.00</td>
        </tr>
        <tr>
          <td>P/VL</td>
          <td>1.16</td>
        </tr>
        <tr>
          <td>UPA (Ps.)</td>
          <td>1.08</td>
        </tr>
        <tr>
          <td>P/E</td>
          <td>25.87</td>
        </tr>
        <tr>
          <td>P.O. Consenso (Ps.)</td>
          <td>33.00</td>
        </tr>

        </tbody>
      </table>
      <p>Fuente: Información con al menos 20 mins. de retraso, calculada en base a metodología propia</p>
    </div>

    <h3>Razones financieras</h3>
  <div class="table-responsive">
    <table class="table table-bordered table-striped">
      <colgroup>
        <col class="col-xs-3">
        <col class="col-xs-2">
        <col class="col-xs-2">
        <col class="col-xs-2">
      </colgroup>
      <thead>
      <tr>
        <th>Millones de pesos</th>
        <th>2014</th>
        <th>2013</th>
        <th>2012</th>

      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Margen de Operación</td>
        <td>6.67%</td><!-- 648/9712 Resultado de operación / ventas consolidadas-->
        <td>6.67%</td>
        <td>8.43%</td>

      </tr>
      <tr>
        <td>Resultado Neto Mayoritario a Ventas</td>
        <td>4.37%</td> <!-- 424/9712 utilidad neta /ventas consolidadas -->
        <td>3.72%</td>
        <td>36.22%</td>

      </tr>
      <tr>
        <td>Resultado Neto Mayoritario a Capital Mayoritario</td>
        <td>4.67 %</td>
        <td>3.92%</td>
        <td>37.75%</td>

      </tr>
      <tr>
        <td>Ventas Netas a Activo Total </td>
        <td>0.75</td> <!--  Ventas consolidadas/ activo total 9,712/12,915.60 -->
        <td>0.76</td>
        <td>0.74</td>

      </tr>
      <tr>
        <td>Rotación de Cuentas por Cobrar</td>
        <td>4.90</td>
        <td>4.51</td>
        <td>4.01</td>

      </tr>
      <tr>
        <td>Rotación de Cuentas por Pagar</td>
        <td>4.00</td>
        <td>4.12</td>
        <td>3.64</td>

      </tr>
      <tr>
        <td>Rotación de Inventarios </td>
        <td>5.70</td>
        <td>5.71</td>
        <td>5.61</td>

      </tr>
      <tr>
        <td>Pasivo Total a Capital Contable </td>
        <td>0.42</td>
        <td>0.41</td>
        <td>0.31</td>

      </tr>
      <tr>
        <td>Razón Circulante </td>
        <td>2.62</td>
        <td>2.99</td>
        <td>3.54</td>

      </tr>
      <tr>
        <td>Deuda a UAFIRDA (1)</td>
        <td>1.60</td>
        <td>1.57</td>
        <td>2.26</td>

      </tr>

      </tbody>
    </table>
  </div>
  <p>(1) Deuda a UAFIRDA: Deuda bancaria total / UAFIRDA del año
  </p>




</div>