<div class="auditor-externo">

  <p>El Consejo de Administración, con la recomendación del Comité de Auditoría, ha decidido contar con los servicios de
    KPMG Cárdenas Dosal, S.C. (KPMG), firma que por más de 10 años nos ha prestado sus servicios de auditoría. El socio
    adscrito a nuestra Compañía es el C.P.C. Rogelio Berlanga Coronado.</p>

</div>