<div class="codigo-estatutos">

    <h3>Código de Mejores Prácticas Corporativas</h3>
    <p>GIS cumple con la disposición de la fracción XI de la disposición 4.033.00 del Reglamento Interior de la BMV respecto a la adhesión de la Compañía al Código de Mejores Prácticas, que sienta las bases de operación para las empresas públicas en México.</p>
    <button onclick="window.open('http://cdn.investorcloud.net/GIS/GobiernoCorporativo/Codigos/CMPC.pdf','_blank');" class="btn btn-primary btn-sm" type="button">Descargar documento</button>

    <h3>Estatutos sociales</h3>
    <p>En el siguiente documento puede acceder al texto completo de nuestros estatutos sociales.</p>

    <button onclick="window.open('http://cdn.investorcloud.net/GIS/GobiernoCorporativo/Codigos/estatutos-sociales.pdf','_blank');" class="btn btn-primary btn-sm" type="button">Descargar documento</button>


</div>