<div class="comites">

    <p>El Consejo de Administración de GIS ha constituido tres comités formados por sus Consejeros:</p>
    <ul class="tablaazul">
      <li>Comité de prácticas societarias </li>
      <li>Comité de auditoría</li>
      <li>Comité de Finanzas</li>
    </ul>
    <p>Los comités de GIS se han constituido bajo la premisa de cuidar el patrimonio de sus accionistas y cumplir con los preceptos de mejores prácticas de gobierno corporativo. </p>

    <h3>Comité de prácticas societarias</h3>
    <p>Tiene la función de evaluar las prácticas societarias de la empresa. En el siguiente diagrama se presentan los miembros del comité de prácticas societarias:</p>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>
        <th>
          <h5>Comité de Prácticas Societarias (CPS)</h5>
        </th>
      </tr>
      </thead>
      <tbody>

      <tr>
        <td>
          Francisco Garza Egloff* **
        </td>
      </tr>

      <tr>
        <td>
          Luis Arizpe Jiménez*
        </td>
      </tr>

      <tr>
        <td>
          Claudio X. González Laporte*
        </td>
      </tr>

      </tbody>
    </table>
    <p>*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
      **Presidente del CPS
    </p>

    <h3>Comité de Auditoría</h3>
    <p>Tiene la función de revisar los avances y resultados del programa de auditoría interna  y revisar el dictamen de los Auditores Externos sobre los estados financieros. En el siguiente diagrama se presentan los miembros del comité de auditoría:</p>

    <table class="table table-striped table-bordered">
      <thead>
      <tr>

        <th>
          <h5>Comité de Auditoria (CA)</h5>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          Luis Arizpe Jiménez* **
        </td>

      </tr>
      <tr>

        <td>
          Eugenio Clariond Reyes*
        </td>

      </tr>
      <tr>

        <td>
          Alfredo Livas Cantú*
        </td>
      </tr>

      </tbody>
    </table>

    <p>*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.<br>
      **Presidente del CA
    </p>
    <h3>Comité de Finanzas</h3>
    <p>El Comité de Finanzas hace recomendaciones al Consejo de Administración sobre planes estratégicos, inversiones, propuestas de adquisiciones y desinversiones.</p>
    <table class="table table-striped table-bordered">
      <thead>
      <tr>

        <th>
          <h5>Comité de finanzas</h5>
        </th>
      </tr>
      </thead>
      <tbody>


      <tr>
        <td>
Fernando Chico Pardo*
        </td>
      </tr>

      <tr>
        <td>
Alejandro Dávila López
        </td>
      </tr>

      <tr>
        <td>
Guillermo Elizondo López
        </td>
      </tr>

      <tr>
        <td>
Fernando López Alanís
        </td>
      </tr>

      <tr>
        <td>
Ernesto López de Nigris
        </td>
      </tr>

      <tr>
        <td>
Juan Carlos López Villarreal
        </td>
      </tr>

      <tr>
        <td>
Manuel Rivera Garza*
        </td>
      </tr>


      </tbody>
    </table>
    <p>*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.</p>
    <p>Adicional al Comité de Prácticas Societarias, al Comité de Auditoría y al Comité de Finanzas, GIS cuenta con los siguientes comités formados por funcionarios de la Compañía para el óptimo funcionamiento de áreas estratégicas:</p>
    <ul>
      <li>Comité Central de Integridad</li>
      <li>Comité de Integridad de Negocios</li>
      <li>Comité de Administración de Riesgos</li>
      <li>Comité de Abastecimientos</li>
    </ul>




</div>