<div class="consejo-administracion">
<p>El Consejo de Administración define la estrategia de los negocios del grupo y supervisa la implementación de
  nuestra filosofía y valores.</p>

<p>
</p>

<p>El siguiente diagrama señala la composición del Consejo de Administración aprobado por nuestra Asamblea:</p>
<table class="table table-striped table-bordered">
  <thead>
  <tr>

    <th>
      <h5>Propietarios</h5>
    </th>
    <th>
      <h5>Suplentes</h5>
    </th>

  </tr>
  </thead>
  <tbody>

  <tr>
    <td>
      Juan Carlos López Villarreal
    </td>
    <td>
      Magdalena Sofía López Villarreal
    </td>
  </tr>

  <tr>
    <td>
      Luis Arizpe Jiménez *
    </td>
    <td>
      Heriberto Garza Candanosa *
    </td>
  </tr>

  <tr>
    <td>
      Fernando Chico Pardo *
    </td>
    <td>
      Jorge Barrero Stahl *
    </td>
  </tr>

  <tr>
    <td>
      Eugenio Clariond Reyes *
    </td>
    <td>
      Carlos E. Argüelles González *
    </td>
  </tr>

  <tr>
    <td>
      Alejandro Dávila López
    </td>
    <td>
      Julián Dávila López
    </td>
  </tr>

  <tr>
    <td>
      Guillermo Elizondo López
    </td>
    <td>
      Roberto Cabello Elizondo
    </td>
  </tr>

  <tr>
    <td>
      Francisco Garza Egloff *
    </td>
    <td>
      César G. Cruz Ayala *
    </td>
  </tr>

  <tr>
    <td>
      Claudio X. González Laporte *
    </td>
    <td>
      Carlos E. Argüelles González *
    </td>
  </tr>

  <tr>
    <td>
      Alfredo Livas Cantú *
    </td>
    <td>
      José Manuel Canal Hernando *
    </td>
  </tr>

  <tr>
    <td>
      Fernando López Alanís
    </td>
    <td>
      Arturo López Alanís
    </td>
  </tr>

  <tr>
    <td>
      Ernesto López de Nigris
    </td>
    <td>
      Javier López de Nigris
    </td>
  </tr>

  <tr>
    <td>
      Manuel Rivera Garza *
    </td>
    <td>
      Jorge Barrero Stahl *
    </td>
  </tr>


  </tbody>
</table>
<p>*Independientes de conformidad con las disposiciones de la Ley del Mercado de Valores.
  <br>**Presidente del Consejo
</p>

<h3>Juan Carlos López Villarreal </h3>

<p>
  Presidente del Consejo de Administración de Grupo Industrial Saltillo desde el 23 de octubre de 2014, además ocupa
  desde marzo del 2012 el cargo de Presidente del Consejo Directivo de Coparmex Coahuila Sureste; Es Vicepresidente de
  la Comisión de Educación de Coparmex Nacional y Presidente del Consejo de Vinculación Universidad-Empresa Coahuila
  Sureste. Desde julio 2008, es Presidente del Consejo del Tecnológico de Monterrey, Campus Saltillo. También es
  Presidente del Consejo de Vive Energía y Miembro del Consejo de Administración de Lorean Energy Group desde 2012.
  <br/> <br/>  
  De 1992 al 2001, ocupó diversos cargos dentro de Grupo Industrial Saltillo hasta llegar a la Presidencia del Consejo y
  Dirección General en mayo del 2003, puesto que desempeñó por 5 años; también fue Miembro del Consejo de Technocast. De
  junio 2004 a Julio 2007 fue Presidente del Consejo Mexicano de Comercio Exterior (COMCE NORESTE) y Presidente del
  Consejo del Business Alliance for Secure Commerce (BASC) México. Forma parte del Consejo Regional del Banco de México
  desde 2013.
</p>


<h3>Luis Arizpe Jiménez</h3>

<p>Vicepresidente del Consejo de Administración de Arca Continental, Presidente del Consejo de Saltillo Kapital,
  Inmobiliaria BIRARMA, Compañía Hotelera del Norte (Camino Real Saltillo), y de Inversiones del Norte. Miembro del
  Consejo del Tecnológico de Monterrey, Campus Saltillo; del Consejo Consultivo de Grupo Financiero Banorte, Zona
  Norte; Presidente del Consejo Cívico y de Instituciones de Coahuila (CCIC); Presidente de Cruz Roja Mexicana,
  delegación Saltillo; Presidente del Comité del Diezmo de la Diócesis de Saltillo; y, Vicepresidente de COPARMEX
  Coahuila sureste.
</p>

<h3>Fernando Chico Pardo </h3>

<p>
  Consejero de Grupo Carso, Sears, Sanborns, BBVA, Grupo Posadas, Bombardier, entre otras. Miembro del Consejo del Pacto
  Global de la ONU. Cuenta con 37 años como inversionista. Es Licenciado en Administración de Empresas por Universidad
  Iberoamericana, MBA por la Kellogg School of Management de Northwestern University de Chicago. En 1997 funda Grupo
  Promecap, siendo su actual Presidente y Director General. Como DG de Inbursa creo subsidiarias y lideró inversiones y
  adquisiciones como Cigatam, Sanborns, Frisco, Nacobre, Euzkadi, Telmex, Condumex y Sears. En 2003 adquiere control
  accionario de Grupo Aeroportuario del Sureste y a la fecha es Presidente del Consejo.
</p>

<h3>Eugenio S. Clariond Reyes</h3>

<p> Presidente del Consejo de Grupo Cuprum, Grupo Cleber y Camiones Sierra Norte (empresas privadas mexicanas).
  Consejero de las empresas públicas: Johnson Controls, Inc. Texas Industries, Inc. y Mexichem, S.A.B. de C.V.</p>

<h3>Alejandro Dávila López</h3>

<p>Miembro del Consejo de Administración de Christus Muguerza Saltillo desde 1996, miembro de la directiva de la
  Cámara de la Propiedad Región Sureste desde 1999, y Tesorero de la misma en un periodo de 2 años. Miembro del
  Patronato pro-construcción del Seminario Mayor de Coahuila. Licenciado en Administración de Empresas, cuenta con un
  MBA del Instituto Panamericano de Alta Dirección de Empresas (IPADE).</p>

<h3>Guillermo Elizondo López</h3>

<p> Presidente del Consejo de Administración del Hotel Quinta Real Saltillo y Presidente del Consejo de Desarrollo
  Inmobiliario Elabe del Norte.</p>

<h3>Francisco Garza Egloff</h3>

<p> Director General de Arca Continental, S.A.B. de C.V. y miembro de diversos consejos de administración.</p>

<h3>Claudio X. González Laporte</h3>

<p> Presidente de Kimberly Clark de México, S.A.B. de C.V. y miembro de diversos consejos de administración.</p>

<h3>Alfredo Livas Cantú</h3>

<p>Presidente del Comité de Auditoría de Grupo Industrial Saltillo, S.A.B. de C.V. desde el 17 de Marzo de 2009 y
  miembro de este Consejo desde la misma fecha. Director General de finanzas del Grupo Femsa de 1989 a 1999. A partir
  de 1999 es consultor independiente. Es miembro de diversos consejos de administración de compañías públicas y
  privadas tales como Fomento Económico Mexicano, S.A., Grupo Senda, Grupo Acosta Verde, Christus Muguerza y miembro
  de diferentes comités de gobierno de estas y otras empresas. Asimismo ha desarrollado diferentes empresas en el ramo
  industrial y financiero.</p>

<h3>Fernando López Alanís</h3>

<p>Inversionista Privado.</p>

<h3>Ernesto López de Nigris</h3>

<p>Miembro del Consejo de Administración de Grupo Industrial Saltillo, empresa donde se desempeñó también como
  Co-Presidente del Consejo de Administración y de Operaciones, es miembro del Consejo de Administración de Arca
  Continental, miembro del Consejo Consultivo de Teléfonos de México y miembro del Consejo de Administración de San
  Luis Corporación y Vicepresidente de Canacintra de Saltillo.</p>

<h3>Manuel Rivera Garza </h3>

<p>
  Director General y presidente de Nemak 1993-2012, participó en el desarrollo del negocio de Nemak hasta su retiro en
  el 2012, Vicepresidente de Planeación estratégica y otras funciones en ALFA de 1976 a 1992. Actualmente ocupa el cargo
  de Vicepresidente Senior de Desarrollo de Negocios en Alfa. Es Ingeniero Industrial, por el ITESM, y cuenta una
  Maestría en Ingeniería Industrial por la universidad de Stanford. Es miembro del Consejo de Administración de Sigma
  Alimentos.

</p>


</div>
