<div class="estructura-accionaria">
   <div class="row">
      <div class="col-md-4 box-theme-color">
        <h4>Fideicomiso de Control*</h4>
        <p>39%</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Consejeros o directivos relevantes</h4>
        <p>4%</p>
      </div>
      <div class="col-md-4 box-theme-color">
        <h4>Público inversionista “float”</h4>
        <p>57%</p>
      </div>
    </div>
    <p>
      Total Acciones “Serie A”=356,051,240**<br></p>
    <p>*Corresponde al fideicomiso que en lo individual es el principal accionista de GISSA. El fideicomiso administra el patrimonio heredado a  las cinco ramas descendientes de Don Isidro López Zertuche, administrado por un Comité Técnico, integrado por un miembro de cada una de las cinco ramas.</p>
    <p>**Todas las acciones de GIS son ordinarias, con plenos derechos de voto y gozan de todos los derechos patrimoniales que la Ley y los Estatutos Sociales les otorgan.

    </p>

</div>